<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dailyrozgar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/test_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WorkerSignup"></activity>
        <activity android:name=".WorkerLogin" />
        <activity android:name=".CustomerSignup" />
        <activity android:name=".CustomerLogin" />
        <activity android:name=".WorkerMainActivity" />
        <activity android:name=".CustomerMainActivity" />
        <activity android:name=".StartScreen" />
        <activity
            android:name=".WorkersListActivity"
            android:label="Plumbers" />
        <activity
            android:name=".Splash_Screen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>